<h1 class="h4">Edição de Análise</h1>

<form ngNativeValidate (submit)="salvar()">
  <div class="row">
     <div class="col-lg-6">
      <label for="inputTitulo" class="visually-hidden">Título *</label>
      <input type="text" id="inputTitulo" name="titulo" [(ngModel)]="analise.titulo" maxlength="50" class="form-control" required aria-required="true" autofocus>
     </div>
     <div class="col-lg-6" *ngIf="!isInclusao()">
      <label for="inputEmpresa" class="visually-hidden">Empresa</label>
      <input type="text" id="inputEmpresa" name="empresa" [value]="analiseDetalhada.empresa" class="form-control" readonly>
     </div>
     <div class="col-lg-12">
      <label for="inputResumo" class="visually-hidden">Resumo *</label>
      <textarea id="inputResumo" name="resumo" [(ngModel)]="analise.resumo" maxlength="500" class="form-control" rows="5" required aria-required="true"></textarea>
     </div>
     <div class="col-lg-3" *ngIf="!isInclusao()">
      <label for="inputUsuarioCriacao" class="visually-hidden">Criado por</label>
      <input type="text" id="inputUsuarioCriacao" name="usuario-criacao" [value]="analiseDetalhada.usuarioInclusao" class="form-control" readonly>
     </div>
     <div class="col-lg-3" *ngIf="!isInclusao()">
      <label for="inputDataCriacao" class="visually-hidden">Criado em</label>
      <input type="text" id="inputDataCriacao" name="data-criacao" [value]="analiseDetalhada.dataInclusao | date: 'dd/MM/yyyy HH:mm'" class="form-control" readonly>
     </div>
     <div class="col-lg-3" *ngIf="!isInclusao()">
      <label for="inputDataModificacao" class="visually-hidden">Modificado por</label>
      <input type="text" id="inputDataModificacao" name="data-modificacao" [value]="analiseDetalhada.usuarioAlteracao" class="form-control" readonly>
     </div>
     <div class="col-lg-3" *ngIf="!isInclusao()">
      <label for="inputUsuarioAlteracao" class="visually-hidden">Modificado em</label>
      <input type="text" id="inputUsuarioAlteracao" name="usuario-alteracao" [value]="analiseDetalhada.dataAlteracao | date: 'dd/MM/yyyy HH:mm'" class="form-control" readonly>
     </div>
  </div>
  
 <div id="anexos">
  <strong>Anexos</strong>
  <div *ngIf="isEmAndamento()" class="row" style="margin-top: 5px;">
    <div class="col-lg-6">
      <input type="file" id="inputAnexo" name="anexo" (change)="handleAnexo($event.target.files)">
    </div>
  </div>
   <table id="tableAnexos" class="table">
    <thead>
      <th>Nome do arquivo</th>
      <th>Data inclusão</th>
    </thead>
    <tbody>
      <tr *ngFor="let anexo of analiseDetalhada.anexos">
        <td>{{anexo.nomeArquivo}}</td>
        <td>{{ (anexo.dataInclusao | date: 'dd/MM/yyyy HH:mm') || 'Pendente de envio'}}</td>
      </tr>
      <tr *ngIf="analiseDetalhada.anexos.length == 0">
         <td colspan="2" style="text-align: center;">Nenhum arquivo adicionado</td>
      </tr>
    </tbody>
  </table>
 </div>

  <div class="btn-group" *ngIf="isEmAndamento()">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Salvar Análise
    </button>
    <div class="dropdown-menu">
      <button class="dropdown-item" type="submit" (click)="salvarRascunho()">Salvar como rascunho</button>
      <button class="dropdown-item" type="submit" (click)="publicar()">Publicar</button>
    </div>
  </div>

  <a id="btnVoltar" class="btn btn-secondary" [routerLink]="['/analises/']">Voltar</a>

</form>