<h1 class="h4">Análises - Consultorias e Assessorias</h1>

<div class="row row-inserir">
  <a class="btn btn-success" [routerLink]="['/analises/nova']">Iniciar nova análise</a>
</div>
<div *ngFor="let analise of analises | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: analises.length}" class="row analise-row">
  <div class="col-lg-1">
    <div class="row">
      <strong class="analise-header">Id</strong>
    </div>
    <div class="row">
      {{analise.id}}
    </div>
  </div>

  <div class="col-lg-3">
    <div class="row">
      <strong class="analise-header">Empresa</strong>
    </div>
    <div class="row">
      {{analise.empresa}}
    </div>
  </div>

  <div class="col-lg-3">
    <div class="row">
      <strong class="analise-header">Título</strong>
    </div>
    <div class="row">
      {{analise.titulo}}
    </div>
  </div>

  <div class="col-lg-2">
    <div class="row">
      <strong class="analise-header">Última Modificação</strong>
    </div>
    <div class="row">
      {{analise.dataUltimaEdicao | date: 'dd/MM/yyyy HH:mm'}}
    </div>
  </div>

  <div class="col-lg-2">
    <div class="row">
      <strong class="analise-header">Usuário</strong>
    </div>
    <div class="row">
      {{analise.usuarioUltimaModificacao}}
    </div>
  </div>

  <div class="col-lg-1">
    <div class="row analise-acoes">
      <a class="btn btn-sm btn-primary" style="width: 100%" [routerLink]="['/analises/' + analise.id]">Acessar</a>
    </div>
  </div>

</div>

<div class="row paginacao">
  <pagination-controls (pageChange)="currentPage = $event"
                        previousLabel="Anterior"
                        nextLabel="Próxima"
                        screenReaderPaginationLabel="Paginação"
                        screenReaderPageLabel="página"
                        screenReaderCurrentLabel="Você está na página"
                        >
  </pagination-controls>
</div>
