<h1 class="h4">Análises - Consultorias e Assessorias</h1>

<div class="row row-inserir">
  <button class="btn btn-success">Iniciar nova análise</button>
</div>
<div *ngFor="let i of items | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: items.length}" class="row analise-row">
  <div class="col-lg-1">
    <div class="row">
      <strong class="analise-header">Id</strong>
    </div>
    <div class="row">
      {{i}}
    </div>
  </div>

  <div class="col-lg-3">
    <div class="row">
      <strong class="analise-header">Empresa</strong>
    </div>
    <div class="row">
      Consultoria de Qualidade LTDA
    </div>
  </div>

  <div class="col-lg-3">
    <div class="row">
      <strong class="analise-header">Título</strong>
    </div>
    <div class="row">
      Análise de qualidade de tecidos
    </div>
  </div>

  <div class="col-lg-2">
    <div class="row">
      <strong class="analise-header">Última Modificação</strong>
    </div>
    <div class="row">
      10/01/2020 12:15
    </div>
  </div>

  <div class="col-lg-2">
    <div class="row">
      <strong class="analise-header">Usuário</strong>
    </div>
    <div class="row">
      Murilo E B Santos
    </div>
  </div>

  <div class="col-lg-1">
    <div class="row analise-acoes">
      <button class="btn btn-sm btn-primary" style="width: 100%">Acessar</button>
    </div>
  </div>

</div>

<div class="row paginacao">
  <pagination-controls (pageChange)="currentPage = $event"
                        previousLabel="Anterior"
                        nextLabel="Próxima"
                        screenReaderPaginationLabel="Paginação"
                        screenReaderPageLabel="página"
                        screenReaderCurrentLabel="Você está na página"
                        >
  </pagination-controls>
</div>
